/***** GENERAL STYLING *****/
/* Body */



body {
    margin: 0%  /* This ensures our site displays all the way to the edge of the browser screen */

}



html { /* with <html> element to enable smooth scrolling for the whole page*/
    scroll-behavior: smooth;
}



h1 {
    text-transform: smallcap; /* Capitalizing all h1 headings */
    font-family: "Old Standard TT",Helvetica, "Trebuchet MS", Optima; /* Sets the font family of all h1 headings */
    text-align: center; /* Centering all h1 elements */
    margin-top: 3%; /* Adds a small margin above h1 elements */
    color: white;
}
/* Heading 1 elements */
h2 {
    font-variant: small-caps; /* Capitalizing all h1 headings */
    font-family: "Old Standard TT",Helvetica, "Trebuchet MS", Optima; /* Sets the font family of all h1 headings */
    margin-top: 3%; /* Adds a small margin above h1 elements */
    color: white;
    padding-right: 10%;
    text-shadow: #000000 3px 3px 3px;
}

/* Heading 1 element hover effect */
h2:hover {
    filter: grayscale(5%); /* Adds a slightly gray filter to the h1 headings when hovered over */
    transform: scale(1.1); /* When the h1 elements are hovered over they increase in size by 1.1 */
    transition: transform 1s; /* This causes the transformation to last 1 second */
}

/* Styling for portfolio title text */
.white-text {
    font-variant: small-caps;
    color: white; /* This is used to change the color of the portfolio title text */
    font-family: "Old Standard TT",'Helvetica', Arial, sans-serif;
    text-transform: none;
    text-shadow: #000000 3px 3px 3px;
}

/* Paragraph elements */
p {
    font-family: "Old Standard TT", Helvetica, Perpetua, Rockwell Extra Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: 1px; /* This expands the text slightly */
    font-size: 22px;
    padding-left: 20px; /* Adds padding to the left of the paragraph element */
    padding-right: 20px; /* Adds padding to the right of the paragraph element */
}


.checked {
    background-color: #000000;
    color: #ebebeb;

}


/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center; /* This center aligns the text */
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
    transition: transform 2s; /* This makes the transform effect last 2 seconds */
    transform: scale(1.1); /* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

.right1{
    text-align: right;
   
}

/* Anchor elements */
a {
    color: blue; /* This ensures all links are blue */
}

/* Quotation elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* Gives all images slightly rounded corners */
    max-width: 100%; /* Ensures all images stay within the width of their container */
    height: 340px; /* Sets the height of all images */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
    justify-content: center;
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s; /* Transition lasts 1 second */
	transform: scale(1.1); /* Image is increased slightly when hovered over */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 0%; /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: white;

}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color:   rgb(210, 86, 94); /* This colors the navbar  */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
    float: left; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: rgb(255, 255, 255); /* This is the font color for text on our navbar */
    padding: 14px 16px; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: "Old Standard TT", 
     Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
    font-size: 20px; /* This specifies the font size for text on our navbar */
    text-align: center; /* This centers the text within its container */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 3s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 3s; /* Applies the moveNavText animation for 5.75s */ 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color:rgb(58, 55, 55); /* Defines the background color that will display when you hover over the link */
    color: rgb(210, 86, 94); /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: rgb(7, 7, 7);
    color:rgb(210, 86, 94);
}

.Navbar a.active:hover { /* This targets the a element on the navbar with the "active" class */
    background-color: white;
    color: rgb(210, 86, 94);
    
}

/*---------------Dark mode toggle button---------------------*/

label[for="darkmode-toggle"] { /* container */
    width: 50px; 
    height: 30px;
    float: left;
    display: flex;
    background-color: #ebebeb;
    border-radius: 30px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5), inset 0px -2px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    align-items: center; /*this with justify content position the yellow button*/
    justify-content: left;
    z-index: 1;
    margin-top: 10px ;
    transition: 0.3s;
}

label[for="darkmode-toggle"]::after { 
    content: "";
    width: 25px;
    height: 25px;
    float: right;
    background: linear-gradient(180deg, #ffffff, rgb(210, 86, 94));
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}

input { /*makes the checkbox invisible*/
    width: 0px;
    height: 0px;
    visibility: hidden;
}

input:checked + label { /*decides what happens with the bg when the checkbox is ticked*/
    background: #000000;
    box-shadow: inset 0px 2px 5px rgb(255, 255, 255), 0.3, inset 0px 2px 5px rgb(255, 255, 255);
}

input:checked + label:after { /* decides what happens with the toggle button once it is checked*/
    left:50px;
    transform: translateX(100%);
    background: linear-gradient(180deg, #ffffff, #3a3a3a);

}


/***** END OF DARK MODE *****/
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#Typing_Video {
    position: fixed; /* This fixes the video to the page */
    right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 400px; /* space between bottom of page an video*/
    overflow: hidden;
    min-width: 100%; /* This ensures the video is displayed across the full width of the page */
    z-index: -1; /* This places the video behind the other elements on the page */
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
    color: white; /* Makes the font color white */
    width: 100%; /* Ensures the video-text container fills the width of the video */
    padding: 20px; /* This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 3s;
    animation: moveVideoText 3s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}
/***** END OF VIDEO STYLING *****/



/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */

} 

.container {
    width:40%;
    text-align: right;
    background-color:rgb(58, 55, 55);
    padding: none;
    margin-left: -10px;
}


.Column_1 {
    float: left;

    width: 70%; /*  */
    padding: 10px;
    padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
    height: 550px; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
    background-color: #ffffff; /* Sets the background color of the columns with class Column_1 */
    
    
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 30%;
    height: 550px;
    position: relative;
    background-color:   rgb(255, 236, 237);
}


.Column_2 img {
    width: 240px;
    height: 240px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}

.container2 {
    width:40%;
    padding-left: 50px;
    padding-bottom: -50px;
    text-align: left;
    background-color:rgb(58, 55, 55);
    margin-right: -10px ;
    line-height: 0;
    padding-top: 5px;
   
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 550px;
    position: relative;
}

.Column_tall img {
    width: 240px;
    height: 240px;
    border-radius: 20px 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */

.Row:after {
  
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/






/***** CONTACT FORM STYLING *****/



/* input[type=text] targets all text input sections of the contact form */
input[type=text] {
    width: 100%; /* Each input box covers the full width of the container */
    padding: 12px; /* Adds padding within the text box */
    border: 1px solid #ccc; /* Setting a solid border and its color */
    border-radius: 4px; /* Slightly rounds the corners of the text box border */
    box-sizing: border-box; /* This creates a box with a border around the contact form input boxes */
    margin-top: 6px; /* Adds a margin to the top of the text box */
    margin-bottom: 16px; /* Adds a margin to the bottom of the text box */
    resize: vertical; /* This allows the user to resize the text boxes vertically */
    font-family: "Old Standard TT", Helvetica, Perpetua, Rockwell Extra Bold;
    visibility: visible;
}

#Message {
    height: 95px;
    width: 100%;
    box-shadow: 0 0 5px rgb(146, 143, 143) inset;
    background: #f1f1f1;
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Old Standard TT", Helvetica, Perpetua, Rockwell Extra Bold;
}

#Message:hover {
    box-shadow: 0 0 5px rgb(146, 143, 143) inset;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px rgb(146, 143, 143) inset; /* This creates a grey shadow in the text box when hovered over by the user */
}


/* Form element */
form {
    border-radius: 5px; /* Rounds the corners of the contact form */
    background-color:rgb(233, 233, 233); 
    padding: 10px; /* Adds padding to the contact form */
    font-family:"Old Standard TT", Helvetica, "Trebuchet MS", Optima Bold;
    font-size: 24px;
}


/***********POP UP CONTACT FORM************/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {

  background-color: rgb(211, 146, 151);
  font-family:"Old Standard TT", Helvetica, "Trebuchet MS", Optima Bold;
  font-size: large; 
  text-shadow: 0px 2px 2px #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  z-index: 8;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
 
}



/* Add styles to the form container */
.form-container {
  max-width: 1200px;
  padding: 10px;
  background-color: white;

}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #89ecc8;
  font-family:"Old Standard TT", Helvetica, "Trebuchet MS", Optima Bold;
  color: black;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  border-radius:4px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* close button colour */
.form-container .cancel {
  background-color: rgb(150, 145, 145);
  font-family:"Old Standard TT", Helvetica, "Trebuchet MS", Optima Bold;
  border-radius:4px;
}


/*submit button hover effect*/
.form-container .btn[type="submit"]:hover{
    background-color: #54c280;
}

/* Open button hover effects  */
.form-container .btn:hover, .open-button:hover {
background-color: rgb(210, 86, 94);
  opacity: 1;
}


/*MODAL*/
/*-------------LOGO IMAGES-----------------------*/

.rowImg {
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoSize {
    width: 180px; 
    height: 100px;

}

/* ------------------MODAL-------------- */
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 20%;
    justify-content: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
  }


/*-------------MODAL THUMBNAIL SETTINGS-------------*/
  .thumbPic {
    height: 100px;
    width: 160px;
  }
  
  .numbertext {
    height: 100px;
    width: 160px;
  }

  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  



